NEXT_PUBLIC_SITE_URL="https://www.meusite.com.br"
SITE_URL="https://www.meusite.com.br"
NEXT_PUBLIC_GTM_ID=GTM-ABCDE123
NEXT_PUBLIC_GA4_MEASUREMENT_ID=G-1A2BCD3EFG
NEXT_PUBLIC_FB_PIXEL_ID=123456789012345
NEXT_PUBLIC_UTMIFY_PIXEL_ID=abc123def456ghi789